@import "./src/ColorPalette";

.educationCard {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;

  img {
    height: 55px;
    width: 55px;
    margin-right: 10px;
  }

  .details {
    .title {
      font-weight: 600;
      cursor: pointer;
      color: $shadeFour;
    }

    .title:hover {
      text-decoration: underline;
    }

    .subtitle {
      font-size: 14px;
    }

    .year {
      font-size: 14px;
      opacity: 0.6;
    }
  }
}