@import "~bootstrap/dist/css/bootstrap.min.css";
@import "ColorPalette";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: $primary-font-color;
}

.col {
  padding: 0;
}

.mainContainer {
  height: 100vh;
  padding: 1rem 10%;
  overflow: hidden auto;
}

.infoCard {
  width: 100%;
  border-radius: 1rem;
  background: #fff;
  border: 1px solid $shadeOne;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

  .cardTitle {
    font-size: 18px;
    font-weight: 600;
  }
}


@media screen and (max-width: 1024px) {
  .mainContainer {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .mainContainer {
    padding: 10px;
  }
}